<%- include("partials/header.ejs") -%>
    <ul id="contain">
    <% contacts.forEach((contact, index) => { %>
        <li>
            <p>Name: <%= contact.name %></p>
            <!-- <p>Email: <%= contact.email %></p>
            <p>Phone: <%= contact.phone %></p> -->
            <a href="/edit/<%= index %>">Edit</a>
            <a href="/view/<%= index %>">View</a>
            <a href="/delete/<%= index %>">Delete</a>
        </li>
    <% }) %>
    </ul>
    <a id="add-button" href="/add">Add Button</a>
<%- include("partials/footer.ejs") -%>