<%- include("partials/header.ejs") -%>
    <div class="temp-margin-left">
        <h1>Contact Details</h1>
        <p>Name: <%= contact.name %></p>
        <p>Email: <%= contact.email %></p>
        <p>Phone: <%= contact.phone %></p>
        <a href="/">Back to Contact List</a>
    </div>
<%- include("partials/footer.ejs") -%>